.vs/Converter-CSharp/v16/.suo
Converter-CSharp/bin/Debug/Currency-CSharp.exe
Converter-CSharp/bin/Debug/Currency-CSharp.exe.config
Converter-CSharp/bin/Debug/Currency-CSharp.pdb
Converter-CSharp/bin/Debug/database.txt
Converter-CSharp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Converter-CSharp/obj/Debug/Converter-CSharp.csproj.CoreCompileInputs.cache
Converter-CSharp/obj/Debug/Converter-CSharp.csproj.FileListAbsolute.txt
Converter-CSharp/obj/Debug/Converter-CSharp.csproj.GenerateResource.cache
Converter-CSharp/obj/Debug/Converter-CSharp.csprojAssemblyReference.cache
Converter-CSharp/obj/Debug/Currency-CSharp.exe
Converter-CSharp/obj/Debug/Currency-CSharp.pdb
Converter-CSharp/obj/Debug/Currency_CSharp.AddCrncForm.resources
Converter-CSharp/obj/Debug/Currency_CSharp.MainForm.resources
Converter-CSharp/obj/Debug/Currency_CSharp.Properties.Resources.resources